
.zoom-in {
    transform: scale(0.8);
    opacity: 0;
    animation: zoomIn 0.5s forwards;
  }
  
  @keyframes zoomIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  .zoom-out {
    transform: scale(1);
    opacity: 1;
    animation: zoomOut 0.5s forwards;
  }
  
  @keyframes zoomOut {
    to {
      transform: scale(0.8);
      opacity: 0;
    }
  }
  